body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

a {
    color: #333;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

a:hover {
    text-decoration: underline;
}

a.create-link {
    display: block;
    width: 200px;
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}

a.create-link:hover {
    background-color: #0056b3;
}